<footer id="site-footer">
	<ul class="Container-Large">
		<li class="copyright"><a href="{{@blog.url}}">{{@blog.title}}</a> &copy; {{date format="YYYY"}} | <a href="{{@blog.url}}/rss/">Subscribe</a></li>
		<li class="ghost">Published proudly with <a href="https://ghost.org">Ghost</a></li>
	</ul>
	{{ghost_foot}}
</footer>
