  {{!decide which type of hero to use}}
  {{#if @blog.cover}}
    {{#is "home"}}
      <section id="site-hero" style="background: url({{@blog.cover}}) no-repeat center center fixed; -webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;">
      {{else}}
      <section id="site-hero" class="hero-partial" style="background: url({{@blog.cover}}) no-repeat center center fixed; -webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;">
    {{/is}}
  {{else}}
    <section id="site-hero" class="hero-partial hero-noimage" style="background: url({{@blog.cover}}) no-repeat center center fixed; -webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;">
  {{/if}}
    <div class="wrapper">
      {{navigation}}
      <div class="title Container-Large">
        {{#is "home"}}
          <h1>{{@blog.title}}</h1>
          <p>{{@blog.description}}</p>
          <div class="arrow">
            <a href="#down"><img src="{{asset "images/arrow.png"}}"></a>
          </div>
          {{else}}

        {{/is}}
      </div>
    </div>
  </section>
  <script>
    $("#site-hero").AnchorSlide();
    $("#site-hero .title").centerThis();
  </script>
